@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Inter:wght@600 & family= Work+Sans:ital,wght@0,100;0,200;0,300; 0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #b4bec9;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-image: linear-gradient(to top, rgba(0, 20, 49, 0.877), #00295e);
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #ffff;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 45px;
    color: #001438;
}

.conteudo-principal-escrito-subtitulo {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #002b57;
}

.conteudo-principal-escrito-botao {
    background-color: rgb(194, 192, 192);
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    color: black ;
}

.conteudo-principal-imagem {
    height: 350px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10px;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-bottom: 0.4px solid #ffffff;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-bottom: 3px;
}

.conteudo-secundario-paragrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #000000;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    margin-right: 500px;
    border-radius: 15px;
    background-color: #7b95aa;
}

.rodape {
    border-top: 84px solid;
    background-color: #001735;
}

.rodape-link {
    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.rodape-link-a {
    color: rgb(136, 149, 168);
}